# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
main
md5

# Visual Studio files not needed
vs2012/Release
vs2012/Debug
vs2012/MD5.v11.suo
vs2012/MD5.sdf
vs2012/MD5.opensdf

